#add-document-btn {
    animation: expandAdd 0.4s forwards;
    background: #01193d;
    border-radius: 30px;
    color: #fff;
    text-align: center;
    line-height: 60px;
    font-size: 22px;
    margin: 0;
    position: fixed;
    bottom: 25px;
    right: 25px;
    width: 60px;
    height: 60px;
    transform: scale(1);
    transition: scale 0.5s ease;
}

@keyframes expandAdd {
    from {
        transform: scale(0);
    }
    to {
        transform: scale(1);
    }
}