#navigation {
    background: #01193d;
    color: #fff;
    box-sizing: border-box;
    width: 100vw;
    height: 60px;

    #navigation-handburger {
        box-sizing: border-box;
        float: left;
        color: #fff;
        height: 60px;
        width: 60px;
        padding: 12.5px;
        line-height: 40px;
        text-align: center;
    }
    #navigation-title {
        float: left;
        font-weight: normal;
        font-size: 0.95em;
        margin: 0 0 0 15px;
        line-height: 60px;
    }
    #navigation-avatars {
        box-sizing: border-box;
        float: right;
        height: 60px;
        padding: 12.5px;
        span {
            position: relative;
            display: inline-block;
            background: rgb(77, 223, 90);
            border-radius: 17.5px;
            margin: 0 0 0 -10px;
            color: #fff;
            line-height: 35px;
            width: 35px;
            height: 35px;
            text-align: center;
        }
    }
}

#page-shifter {
    background: rgb(252, 252, 252);
    box-sizing: border-box;
    width: 100vw;
    height: 50px;
    padding: 0;
    overflow-x: auto;
    white-space: nowrap;
    #page-explore {
        float: left;
        background: #fff;
        border-radius: 4px;
        border: 0;
        color: #000;
        margin: 7.5px;
        padding: 0 10px;
        height: 35px;
        line-height: 35px;
        img {
            height: 35px;
            margin-right: 5px;
        }
        span {
            float: right;
            line-height: 35px;
            font-size: 12px;
        }
    }
    .page-shifter-item {
        box-sizing: border-box;
        border-radius: 4px;
        color: #000;
        display: inline-block;
        margin: 0 4px;
        height: 50px;
        padding: 0 10px;
        line-height: 50px;
        font-size: 0.85em;
    }
    .active {
        border-radius: 0px;
        border-bottom: 2px solid rgb(59, 125, 255);
        padding: 0 10px;
        height: 50px;
        line-height: 50px;
        color: rgb(59, 125, 255);
        font-weight: bold;
        transition: background 0.4s ease;
    }
}

@media screen and (min-width: 950px) {
    #navigation {
        box-sizing: border-box;
        margin: 0;
        padding: 0 20px;
        background: #fff;
        color: #000;
        width: calc(100% - 250px);
        margin-left: 250px;
    }
    #page-shifter {
        box-sizing: border-box;
        border-top: 1px solid #eeeeee;
        border-bottom: 1px solid #eeeeee;
        padding: 0 20px;
        width: calc(100% - 250px);
        margin-left: 250px;
        overflow-y: hidden;
    }
    #navigation-handburger {
        display: none;
        background: #01193d;
    }
}