#sidebar {
    //animation: 0.3s forwards slideSideBar;
    background: #00245a; //#015BDE
    display: none;
    position: fixed;
    width: 70vw;
    height: 100vh;
    transform: translate3d(0);
    top: 60px;
    left: -70vw;
    z-index: 10;
    #sidebar-head {
        background: rgba(255, 255, 255, 0.04);
        margin: 0;
        padding: 25px 0;
        margin-bottom: 50px;
    }
    h5 {
        color: rgba(255, 255, 255, 0.5);
        font-size: 11px;
        font-weight: 600;
        letter-spacing: 1px;
        margin: 0;
        text-transform: uppercase;
        padding: 0 0 0 20px;
    }
    h3 {
        color: #fff;
        font-size: 16px;
        font-weight: 600;
        padding: 15px 20px;
        margin: 0;
    }
    p {
        box-sizing: border-box;
        color: rgba(255, 255, 255, 0.8);
        font-size: 13px;
        padding: 0 20px;
        margin: 0;
        line-height: 25px;
    }
    ul {
        box-sizing: border-box;
        width: 100%;
        padding: 0;
        li {
            box-sizing: border-box;
            color: #fff;
            margin-bottom: 0px;
            font-size: 14px;
            padding: 15px 20px;
            list-style: none;
        }
        .active {
            background: rgba(0, 91, 222, 0.1);
            border-left: 5px solid #015BDE;
            font-weight: bold;
        }
    }
}

@keyframes slideSideBar {
    from {
        left: -80vw;
    }
    to {
        left: 0vw;
    }
}

@media screen and (min-width: 950px) {
    #sidebar {
        background: #01193d;
        width: 250px;
        top: 0;
    }
}