#document {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0 0 300px 0;
}

#document #document-widgets {
  -webkit-animation: popin 0.35s linear;
          animation: popin 0.35s linear;
  background: #fff;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-top: 2px solid #f3f3f3;
  display: none;
  position: fixed;
  padding: 0 20px;
  bottom: 0;
  width: 100%;
  height: 50px;
  z-index: 9;
}

#document #document-widgets .document-widgets-button {
  margin: 0 20px 0 0;
  line-height: 50px;
  display: inline-block;
}

@-webkit-keyframes popin {
  from {
    bottom: -40px;
  }
  to {
    bottom: 0;
  }
}

@keyframes popin {
  from {
    bottom: -40px;
  }
  to {
    bottom: 0;
  }
}

#document #document-content:focus + #document-widgets {
  display: inline-block;
}

#document #document-content {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  padding: 50px 20px;
  outline: 0;
  width: 100%;
}

#document #document-content h1, #document #document-content h2, #document #document-content h3, #document #document-content h4, #document #document-content h5, #document #document-content p {
  color: inherit;
  margin: 0;
  padding: 0;
}

#document #document-content #document-content-title {
  color: inherit;
  font-size: 30px;
  margin-bottom: 15px;
}

#document #document-content hr {
  background: #f3f3f3;
  margin: 25px 0;
  border: 0;
  height: 1px;
}

#document #document-content #document-content-main {
  color: inherit;
  font-size: 0.85em;
  /* desert scheme ported from vim to google prettify */
  /* string  - pink */
  /* comment - skyblue */
  /* type    - lightgreen */
  /* literal - darkred */
  /* punctuation */
  /* plaintext */
  /* html/xml tag    - lightyellow */
  /* attribute name  - khaki */
  /* attribute value - pink */
  /* decimal         - lightgreen */
  /* Specify class=linenums on a pre to get line numbering */
  /* IE indents via margin-left */
  /* Alternate shading for lines */
}

#document #document-content #document-content-main q {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 4px;
  border-left: 3px solid #0153cf;
  font-style: italic;
  background: #00000018;
  display: block;
  margin: 0;
  padding: 10px 20px;
  width: 100%;
}

#document #document-content #document-content-main q:before, #document #document-content #document-content-main q:after {
  content: "";
}

#document #document-content #document-content-main .code-contain {
  background-color: #0000003f;
  border-radius: 4px;
  padding: 10px;
  font-size: 14px;
}

#document #document-content #document-content-main pre.prettyprint {
  display: block;
  border: 0;
  margin: 0;
}

#document #document-content #document-content-main pre .nocode {
  background-color: none;
  color: #fff;
}

#document #document-content #document-content-main pre .str {
  color: #ffa0a0;
}

#document #document-content #document-content-main pre .kwd {
  color: #015BDE;
  font-weight: bold;
}

#document #document-content #document-content-main pre .com {
  color: #87ceeb;
}

#document #document-content #document-content-main pre .typ {
  color: #98fb98;
}

#document #document-content #document-content-main pre .lit {
  color: #cd5c5c;
}

#document #document-content #document-content-main pre .pun {
  color: #fff;
  font-style: italic;
}

#document #document-content #document-content-main pre .pln {
  color: #fff;
  font-weight: bold;
}

#document #document-content #document-content-main pre .tag {
  color: #f0e68c;
  font-weight: bold;
}

#document #document-content #document-content-main pre .atn {
  color: #bdb76b;
  font-weight: bold;
}

#document #document-content #document-content-main pre .atv {
  color: #ffa0a0;
}

#document #document-content #document-content-main pre .dec {
  color: #98fb98;
}

#document #document-content #document-content-main ol.linenums {
  margin-top: 0;
  margin-bottom: 0;
  color: #AEAEAE;
}

#document #document-content #document-content-main li.L0, #document #document-content #document-content-main li.L1, #document #document-content #document-content-main li.L2, #document #document-content #document-content-main li.L3, #document #document-content #document-content-main li.L5, #document #document-content #document-content-main li.L6, #document #document-content #document-content-main li.L7, #document #document-content #document-content-main li.L8 {
  list-style-type: none;
}

@media print {
  #document #document-content #document-content-main pre.prettyprint {
    background-color: none;
  }
  #document #document-content #document-content-main pre .str, #document #document-content #document-content-main code .str {
    color: #060;
  }
  #document #document-content #document-content-main pre .kwd, #document #document-content #document-content-main code .kwd {
    color: #006;
    font-weight: bold;
  }
  #document #document-content #document-content-main pre .com, #document #document-content #document-content-main code .com {
    color: #600;
    font-style: italic;
  }
  #document #document-content #document-content-main pre .typ, #document #document-content #document-content-main code .typ {
    color: #404;
    font-weight: bold;
  }
  #document #document-content #document-content-main pre .lit, #document #document-content #document-content-main code .lit {
    color: #044;
  }
  #document #document-content #document-content-main pre .pun, #document #document-content #document-content-main code .pun {
    color: #440;
  }
  #document #document-content #document-content-main pre .pln, #document #document-content #document-content-main code .pln {
    color: #000;
  }
  #document #document-content #document-content-main pre .tag, #document #document-content #document-content-main code .tag {
    color: #006;
    font-weight: bold;
  }
  #document #document-content #document-content-main pre .atn, #document #document-content #document-content-main code .atn {
    color: #404;
  }
  #document #document-content #document-content-main pre .atv, #document #document-content #document-content-main code .atv {
    color: #060;
  }
}

@media screen and (min-width: 950px) {
  #document {
    -webkit-box-sizing: content-box;
            box-sizing: content-box;
    width: calc(60% - 250px);
    padding: 50px 20% 50px calc(250px + 20%);
  }
  #document-content {
    border-radius: 5px;
    padding: 50px;
  }
}
/*# sourceMappingURL=document.css.map */