#document {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0 25px 300px;
  margin-top: 160px;
}

#document .DraftEditor-root {
  color: inherit;
}

#document .DraftEditor-content {
  min-height: 100vh;
}

#document .DraftEditor-content .DraftEditor-content-title {
  color: #3d3d3d;
}

#document #document-widgets {
  -webkit-animation: popin 0.35s linear;
          animation: popin 0.35s linear;
  background: #4f5c70;
  border-radius: 15px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #000;
  display: -ms-inline-grid;
  display: inline-grid;
  -ms-grid-columns: auto auto auto auto auto auto;
      grid-template-columns: auto auto auto auto auto auto;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: fixed;
  padding: 0 20px;
  bottom: 20px;
  left: 20px;
  width: calc(100% - 40px);
  height: 50px;
  z-index: 9;
}

#document #document-widgets .document-widgets-button {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 15px;
  margin: 10px 0;
  line-height: 30px;
}

#document #document-widgets .document-widgets-button img {
  height: 30px;
  margin: 0;
  padding: 0;
}

@-webkit-keyframes popin {
  from {
    bottom: -40px;
  }
  to {
    bottom: 0;
  }
}

@keyframes popin {
  from {
    bottom: -40px;
  }
  to {
    bottom: 0;
  }
}

#document #document-content:focus + #document-widgets {
  display: inline-block;
}

#document #document-content {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  padding: 160px 20px 20px;
  outline: 0;
  width: 100%;
}

#document #document-content h1, #document #document-content h2, #document #document-content h3, #document #document-content h4, #document #document-content h5, #document #document-content p {
  color: inherit;
  margin: 0;
  padding: 0;
}

#document #document-content #document-content-title {
  color: inherit;
  font-size: 30px;
  margin-bottom: 15px;
}

#document #document-content hr {
  background: #f3f3f3;
  margin: 25px 0;
  border: 0;
  height: 1px;
}

#document #document-content #document-content-main {
  color: inherit;
  font-size: 0.85em;
}

#document #document-content #document-content-main q {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 4px;
  border-left: 3px solid #0153cf;
  font-style: italic;
  background: #00000018;
  display: block;
  margin: 0;
  padding: 10px 20px;
  width: 100%;
}

#document #document-content #document-content-main q:before, #document #document-content #document-content-main q:after {
  content: "";
}

#document #document-content #document-content-main .code-contain {
  border-radius: 4px;
  font-size: 14px;
}

#document #document-content #document-content-main pre {
  margin: 0;
}

.code-snip {
  display: block;
  background: red;
  width: 100%;
  min-height: 300px;
  border-radius: 3px;
  border: 1px solid #f3f3f3;
}

.codeBlock {
  background: red;
}

.superFancyBlockquote {
  color: red;
  font-family: 'Hoefler Text', Georgia, serif;
  font-style: italic;
  text-align: center;
}

@media screen and (min-width: 950px) {
  #document {
    -webkit-box-sizing: content-box;
            box-sizing: content-box;
    width: calc(60% - 250px);
    padding: 10px 20% 10px calc(250px + 20%);
  }
  #document-content {
    border-radius: 5px;
    padding: 50px;
  }
  #document-widgets {
    border-radius: 3px !important;
    width: auto !important;
    height: 35px !important;
    left: 50vw !important;
    padding: 0 10px !important;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
  #document-widgets .document-widgets-button {
    line-height: 35px !important;
    padding: 0 !important;
    margin: 5px 5px !important;
  }
  #document-widgets .document-widgets-button img {
    height: 25px !important;
  }
}
/*# sourceMappingURL=document.css.map */